@use "../assets/mixins";

.wish_page {
  min-height: calc(100vh - 49px);

  display: flex;
  flex-direction: column;
  .wish__Title {
    font-family: "VT323", monospace;
    text-align: center;
    color: #02ffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 30px #00eaff95;
    @include mixins.breakpoint(tablet) {
      font-size: 28px;
    }
  }
  .wish__CardsContainer {
    @include mixins.flex(row, center, flex-start, 15px);
    flex-wrap: wrap;
    .wish__CardContainer {
      @include mixins.flex(column, center, flex-start, 10px);
      // transition: 0.3s;
      // &:hover {
      //   transform: scale(1.1);
      // }
      .buttonContainer {
        @include mixins.flex(row, flex-start, flex-start, 10px);
      }
    }
  }
}
