@use "../../assets/mixins";

.checkoutContainer {
  @include mixins.flex(column, center, center, 30px);
  max-width: 550px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid deeppink;
  box-shadow: 0px 1px 10px #ec2593;
  background-color: transparent;

  @include mixins.breakpoint(desktop) {
    @include mixins.position(absolute, 70px, 5%);
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
  }

  h4 {
    font-family: "VT323", monospace;
    font-size: 26px;
    color: aqua;
    border-bottom: 1px solid aqua;
  }

  .pricesContainer {
    @include mixins.flex(column, center, flex-end, 15px);
    color: rgb(255, 255, 255);
  }

  .dcodeContainer {
    @include mixins.flex(column, center, center, 15px);

    .codeBar {
      @include mixins.flex(row, center, center);
      height: 30px;
      width: 100%;
      background: none;
      border: 1px solid aqua;
      color: aqua;
      font-size: 18px;
      border-radius: 8px;
      box-shadow: 0 0 10px aqua;
      padding-left: 10px;
      transition: all ease-in-out 0.2s;

      &::placeholder {
        font-size: 14px;
        padding-left: 8px;
        color: rgb(175, 175, 175);
      }
    }
    .button {
      margin-top: 15px;
      width: 50px;
      height: 30px;
      padding: 20px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: 1px solid aqua;
      color: aqua;
      font-size: 18px;
      border-radius: 8px;
      box-shadow: 0 0 10px aqua;
      cursor: pointer;
      transition: all ease-in-out 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .paySelect {
    @include mixins.flex(row, center, center);
    height: 30px;
    width: 100%;
    background: none;
    border: 1px solid aqua;
    color: aqua;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px aqua;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    .payMethod {
      background: #293133;
      font-size: 14px;
      color: whitesmoke;

      &:hover {
        background-color: aqua;
        color: black;
      }
    }
  }

  .buyButtonContainer {
    @include mixins.flex(row, center, center, 40px);
    margin-top: 30px;

    .buyButton {
      width: 50px;
      height: 30px;
      padding: 20px 40px;
      @include mixins.flex(row, center, center);
      background: none;
      border: 1px solid aqua;
      color: aqua;
      font-size: 18px;
      border-radius: 8px;
      box-shadow: 0 0 10px aqua;
      cursor: pointer;
      transition: all ease-in-out 0.2s;

      &:hover {
        transform: scale(1.2);
        border: 1px solid gold;
        color: gold;
        box-shadow: 0 0 10px gold;
      }
    }
  }
}
